@import url('~@fortawesome/fontawesome-free/css/all.min.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    border: none;
    background: none;

}

.image-slider-wrapper {
    margin: 0 auto;
    width: 1000px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.image-slider-wrapper .fa-solid {
    font-size: 20px;
    color: #fff;
}

.image-slider-wrapper .image-box {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    transition: left 0.2s;
}

.image-slider-wrapper .image-box li {
    width: 1000px;
    height: 400px;
    float: left;
}

.image-slider-wrapper .image-box li:after {
    clear: both;
}


.image-slider-wrapper .btn-slide-box button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 48px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: opacity 0.2s, transform 0.2s;
    z-index: -1;
}

.image-slider-wrapper .btn-slide-box .btn-prev {
    left: 0;
    transform: translateX(-100%) translateY(-50%);
}

.image-slider-wrapper .btn-slide-box .btn-next {
    right: 0;
    transform: translateX(100%) translateY(-50%);
}

.image-slider-wrapper:hover .image-box + .btn-slide-box button {
    z-index: initial;
    opacity: 1;
    transform: translateX(0) translateY(-50%);
}

.image-slider-wrapper .indicator-box {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 16px;
}

.image-slider-wrapper .indicator-box li {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 8px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
}

.image-slider-wrapper .indicator-box li.active {
    background: #fff;
}

.image-slider-wrapper .btn-control-box button {
    display: none;
    position: absolute;
    right: 32px;
    bottom: 16px;
}

.image-slider-wrapper .btn-control-box .active {
    display: block;
}



