.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.gallery-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.row {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin: 0 140px;
    overflow-x: auto;
    gap: 100px;
}

.text-center {
    text-align: center;
}

.plus-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    background: none;
    border: 1px solid #333333;
    outline: none;
    font-size: 24px;
    line-height: 24px;
}

.gallery-box input {
    display: none;
}

.gallery-box .image-box,
.gallery-box .image-box img {
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 500px) {
    .gallery-box {
        gap: 40px;
    }

    .row {
        margin: 0 40px;
    }
}
