.music-player-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  gap: 20px;
  position: relative;
  overflow: hidden;

  p {
    margin: 0;
    padding: 0;
  }

  .cover-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    .title {
      font-size: 1.1rem;
      font-weight: bold;
    }
  }

  .player-bar {
    width: 100%;
    position: relative;



    .progress-bar {
      width: 100%;
      height: 8px;
      background-color: #bdbdbd;
      border-radius: 10px;
      overflow: hidden;

      .bar {
        width: 0;
        height: 8px;
        background-color: #2575d2;
      }
    }

    .time {
      display: flex;
      justify-content: space-between;
      margin-top: 4px;
    }
  }

  .music-tool {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .volume-box {
      display: flex;
      align-items: center;
      .volume-bar {
        width: 50px;
        height: 4px;
        margin-left: 4px;
        background-color: #bdbdbd;
        border-radius: 10px;
      }
      .bar {
        width: 40%;
        height: 4px;
        border-radius: 10px;
        background-color: #3aa236;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          width: 8px;
          height: 8px;
          transform: translate(60%, -50%);
          border-radius: 50%;
          background-color: #3aa236;
        }
      }
    }
  }

  .playlist {
    height: 60%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    outline: 1px solid #bdbdbd;
    border-radius: 10px;
    background-color: #FFF;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 48px;
      padding: 16px 16px 8px;

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    ul {
      margin: 0;
      padding: 0 16px;
      height: calc(100% - 52px);
      list-style-type: none;
      overflow: auto;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
        border-bottom: 1px solid #bdbdbd;
      }

      .info {
        display: flex;
        flex-direction: column;

        .title {
          font-size: 1rem;
        }
        .artist {
          font-size: 0.9rem;
        }
      }
    }

  }
}




