* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #fff;
    transition: filter 0.5s;
}

html[theme="dark-mode"] {
    filter: invert(100%) hue-rotate(180deg);
}

input, kbd {
    font-family: inherit;
}

.container {
    padding: 20px;
}

.settingBox {
    display: flex;
    align-items: center;
}

.settingBox > * {
    margin-right: 10px;
}

.darkModeBox input {
    display: none;
}

.settingBox select {
    width: 200px;
    height: 34px;
    padding: 2px 5px;
    font-size: 0.9rem;
}


.darkModeBox .toggle {
    display: inline-block;
    width: 60px;
    height: 30px;
    background: #bdbdbd;
    text-indent: -9999px;
    border-radius: 20px;
    position: relative;
    transition: background 0.2s;
}

.darkModeBox .toggle::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 4px;
    width: 24px;
    height: 24px;
    background: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: transform 0.5s;
}

.darkModeBox input:checked + .toggle {
    background: #333;
}

.darkModeBox input:checked + .toggle::after {
    transform: translateX(28px) translateY(-50%);
}

.keyboardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyboardWrapper input {
    width: 600px;
    padding: 5px;
    border-color: transparent transparent #333 transparent;
    font-size: 1.3rem;
}

.keyboardWrapper .message {
    display: none;
    margin-top: 12px;
    color: #f00;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.keyboardWrapper .message.error {
    display: block;
}

.keyboardBox {
    margin-top: 30px;
    padding: 0.2rem;
    width: 924px;
    background: #aaa;
    border-radius: 0.25rem;
    box-shadow: -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

.keyboardBox kbd {
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.keyboardBox .fnKey kbd {
    display: flex;
}

.keyboardBox[data-type="korean"] .specialKey kbd:last-child,
.keyboardBox[data-type="english"] .specialKey kbd:last-child,
.keyboardBox[data-type="korean-shift"] .specialKey kbd:first-child,
.keyboardBox[data-type="english-shift"] .specialKey kbd:first-child,
.keyboardBox[data-type="english"] kbd[data-type="english"],
.keyboardBox[data-type="english-shift"] kbd[data-type="english-shift"],
.keyboardBox[data-type="korean"] kbd[data-type="korean"],
.keyboardBox[data-type="korean-shift"] kbd[data-type="korean"],
.keyboardBox[data-type="korean-shift"] kbd[data-type="korean-shift"] {
    display: flex;
}

.keyboardBox[data-type="korean-shift"] .doubleKey kbd[data-type="korean"] {
    display: none;
}

.keyboardBox .row {
    display: flex;
}

.keyBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
    min-width: 3.5rem;
    height: 3.5rem;
    background: #fff;
    border-radius: 0.2rem;
    box-shadow: -0.25rem 0.25rem 0.1rem rgba(0, 0, 0, 0.2);
    transition: background 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.keyBox:hover {
    background: #ccc;
    /*box-shadow: -0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.7);*/
}

.keyBox.active {
    background: #777;
    box-shadow: -0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.7);
}

.keyBox.fnKey {
    flex: 1;
}

.fnKey.right {
    justify-content: flex-end;
}

